* {
  margin: 0%;
  padding: 0%;
}

body {
  background-color: rgb(191, 198, 202);
}

.container {
  width: 1280px;
  height: 720px;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 75px;
  box-shadow: 5px 5px 18px #a69751, -5px -5px 18px #68f8ff;
}

.encabezado {
  width: 100%;
  background-image: url(https://i.pinimg.com/originals/06/c1/c9/06c1c90a650925d21eaf7bc7547135fa.png);
  background-size: 1280px;
  background-position-y: -1170px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 26%;
  margin: 0;
}

.header {
  width: 100%;
  height: 8%;
  background: linear-gradient(0deg, rgba(34, 179, 195, 1) 37%, rgba(45, 253, 85, 1) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header ul {
  margin: 0;
}

.header li {
  display: inline;
  margin: 0%;
  padding-left: 35px;
  padding-right: 35px;
  color: rgb(245, 245, 245);
  font-family: "Rubik", sans-serif;
  font-size: 1.1em;
  text-shadow: black 1px 0 10px;
}

.header li:hover {
  color: rgba(245, 245, 245, 0.8);
  cursor: pointer;
}

.contenido {
  width: 100%;
  height: 66%;
  background-color: rgba(235, 235, 235, 0.904);
  overflow: scroll;
}
.contenido img {
  margin-bottom: 0.5em;
  max-width: 100%;
  display: block;
}

.galeria {
  margin: 0.5em;
  columns: 4;
  column-gap: 0.5em;
}
